<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="EzBasePath" value="https://app.eztexting.com" />
        <add key="CtBasePath" value="https://app.clubtexting.com" />
        <add key="GtBasePath" value="https://app.grouptexting.com" />
        <add key="TmcBasePath" value="https://app.tellmycell.com" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="CallfireApiClient" switchValue="Verbose">
                <listeners>
                    <remove name="Default" />
                    <add name="CallfireLogFile" />
                </listeners>
            </source>
        </sources>
        <switches>
        </switches>
        <sharedListeners>
            <add name="CallfireLogFile" type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="callfire-api-client.log" />
        </sharedListeners>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <add name="CallfireLogFile" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>